@font-face {
	font-family: 'Tenika';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/tenika400regular-rpyql.ttf) format('truetype');
}

@font-face {
	font-family: 'JetBrainsMono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/jetbrainsmono-regular.ttf) format('truetype');
}

html { background-color: #000000; height: 100%; width: 100%; margin: 0; padding: 0; scroll-behavior: smooth; font-family: 'JetBrainsMono', monospace; visibility: visible; opacity: 1; overflow: scroll; overflow-x: hidden; scrollbar-width: none; font-size: 16px; }
@media (min-width: 640px) and (max-width: 1439px) { html { font-size: calc(16px + (20 - 16) * (100vw - 640px) / (1439 - 640)); } }
/* Define max font size */
@media (min-width: 1440px) { html { font-size: 20px; } }

body { height: 100%; width: 100%; margin: 0; padding: 0; display: flex; flex-direction: column; }
a { outline: 0; -webkit-tap-highlight-color: transparent; color: #00FF00; text-shadow: 0px 0px 10px #00FF00; }
a:link { text-decoration: none; }
footer { left: 0; right: 0; bottom: 0; margin: 0; }
header { left: 0; right: 0; bottom: 0; margin: 0; width: 100%; height: auto; display: flex; align-items: center; justify-content: center; }
main { flex-grow: 1; flex-shrink: 0; height: auto; width: 100%; display: flex; align-items: center; flex-direction: column; }
code { font-family: 'JetBrainsMono'; }
li { list-style-type: '◈ '; line-height: 200%; }
::selection { color: cyan; background: black; }
::-webkit-scrollbar { width: 0px; background: transparent; }

#bg-overlay { position: fixed; z-index: -20000; height: 100vh; width: 100%; }
#bg-img { position: fixed; z-index: -20001; background-image: url('../images/bg.jpg'); height: 100vh; width: 100%; filter: brightness(20%); }

.container { height: 100%; width: 90vw; max-width: 1280px; margin-right: 10px; margin-left: 10px; padding-right: 10px; padding-left: 10px; display: flex; align-items: center; flex-direction: column; }
.grid-container { display: grid; width: 100%; height: auto; grid-template-columns: auto; }
@media screen and ( min-width: 768px ) {
  .grid-container { display: grid; width: 100%; height: auto; grid-template-columns: auto auto; }
}
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.link { cursor: pointer; outline: 0; -webkit-tap-highlight-color: transparent; }

.header-card { width: 100%; height: auto; display: flex; align-items: center; justify-content: center; }
.logo-wrapper { width: auto; height: 120px; display: flex; flex-direction: row; justify-content: center; align-items: center; }
.logo { width: 80px; height: 80px; overflow: hidden; object-fit: cover; display: flex; align-content: center; justify-content: center; border-radius: 50%; border: 1px solid #ff9800; box-shadow: 0px 0px 10px #ff9800; }
.logo-img { width: 80px; height: 80px; }
@media only screen and (min-width: 768px) {
	.logo { width: 120px; height: 120px; overflow: hidden; object-fit: cover; display: flex; align-content: center; justify-content: center; border-radius: 50%; border: 1px solid #ff9800; box-shadow: 0px 0px 10px #ff9800; }
	.logo-img { width: 120px; height: 120px; }
}
.title { font-family: 'Tenika'; line-height: 1.2em; font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300))); margin-left: 40px; }

.navbar { width: 100%; height: auto; display: flex; align-items: center; justify-content: center; flex-direction: row; }
.nav-item { width: 100px; height: 30px; display: flex; align-items: center; justify-content: center; cursor: pointer; margin: 20px; }
.nav-img { pointer-events: none; }

.footer { display: flex; align-items: center; justify-content: center; flex-direction: column; }
.footer-text { padding: 20px; display: flex; align-items: center; justify-content: center; flex-direction: column; font-size: 0.7em; }

.nf-place-center { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 20px; }
.nf-card { width: 100%; max-width: 500px; max-height: 300px; display: flex; justify-content: center; align-items: center; --aug-tl1: 10px; --aug-tl2: 10px; --aug-t1: 3%; --aug-t2: 70%; --aug-b2: 30%; --aug-l2: 55px; --aug-r2: 55px; }
.nf-code-panel { width: 85%; height: 100%; word-wrap: break-word; padding: 40px; }

.aui-theme { outline: 1px solid transparent; padding: 10px; --aug-border-bg: #ff9800; --aug-border-all: 1.5px; --aug-inlay-all: 5px; --aug-inlay-bg: rgba(0, 255, 255, 0.1); box-shadow: 0px 0px 25px rgba(0, 255, 255, 0.2) inset; }
.aui-theme:hover { --aug-inlay-bg: rgba(255, 0, 0, 0.1); box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.5) inset; }
.aui-theme-btn { padding: 10px; --aug-border-bg: #ff9800; --aug-border-all: 1.5px; --aug-inlay-all: 5px; --aug-inlay-bg: rgba(0, 255, 255, 0.2); }
.aui-theme-btn:hover { --aug-inlay-bg: rgba(0, 255, 0, 1); color: black; text-shadow: 0 0 10px black; font-weight: bold; }

.red-text { color: red; text-shadow: 0 0 10px #000000, 0 0 10px #ff0000; }
.yellow-text { color: #ff9800; text-shadow: 0 0 5px #000000, 0 0 10px #ff9800; }
.cyan-text { color: #00e1ff; text-shadow: 0 0 5px #000000, 0 0 10px #00e1ff; }
.white-text { color: white; text-shadow: 0 0 5px #000000, 0 0 10px #ffffff; }
.green-text { color: #00FF00; text-shadow: 0 0 10px #000000, 0px 0px 10px #00FF00; }

.intro-card { margin-left: 40px; margin-right: 40px; width: 100%; height: auto; text-align: center; word-wrap: break-word; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.card-title { font-family: 'Tenika'; }
.sub-intro { width: 80%; height: auto; font-size: 1.2rem; }
.join-btn { font-size: 1.2em; padding: 20px; font-family: 'Tenika'; font-weight: bold; }
.site-nav-col { width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.site-nav-elem { width: 100%; height: 150px; margin: 20px; }

.nav-menu { margin-top: 80px; margin-bottom: 80px; width: 100%; height: auto; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; }
.nav-menu-item { margin: 5px; --aug-all-width: 5em; display: flex; align-items: center; justify-content: center; }
.nav-img { width: 2em; height: auto; }

.slider {  width: 100%; height: auto; padding: 20px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 40px; margin-bottom: 40px; }

.member-card-wrapper { min-width: 400px; max-width: 450px; height: 150px; margin-left: 10px; margin-right: 10px; margin-top: 20px; margin-bottom: 20px; }
.member-meta-left { display: flex; justify-content: center; align-items: center; width: 35%; }
.member-meta-right { display: flex; flex-direction: column; justify-content: center; width: 65%; }
.member-card { width: 100%; height: 100%; max-height: 160px; }
.member-sub-card { width: 90%; height: 100%; pointer-events: none; display: flex; }
.member-name { font-size: 1.2em; padding-left: 20px; margin-bottom: 5px; }
.member-title { font-size: 0.7em; padding-left: 20px; margin-bottom: 5px; }
.member-img-wrapper { min-width: 50px; min-height: 50px; max-width: 100px; max-height: 100px; object-fit: cover; display: flex; align-items: center; justify-content: center; margin: 10px; }
.member-img { width: 100%; height: 100%; transform: scale(1.3); }
.social-bar { width: 90%; height:auto; max-height: 40px; margin-left: 10px; display: flex; justify-content: left; align-items: center; }
.social-btn { width: 2.4em; height: 2.4em; border: 0; background-color: transparent; pointer-events: auto; margin-right: 0.7em; }
.social-img { width: 2.4em; height: 2.4em; transform: scale3d(1, 1, 1) translateZ(0); }

.data-tilt { position: relative; transform-style: preserve-3d; transform: perspective(1000px); -webkit-transform-style: preserve-3d; -webkit-transform: perspective(1000px); display: flex; align-items: center; justify-content: center; }
.sub-tilt { position: absolute; transform: translateZ(70px); -webkit-transform: translateZ(70px); }

.ctf-btn-wrapper { display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; margin: 30px; width: 100%; height: 50px; }
.ch-intro-btn { cursor: pointer; font-family: 'Tenika'; font-weight: bold; font-size: 1.1em; text-align: center; padding: 20px; margin: 10px;  width: 7em; }
.ctf-hdr-btn { display: flex; justify-content: center; align-items: center; cursor: pointer; font-family: 'Tenika'; font-weight: bold; font-size: clamp(0.7em, 3vw, 1.1em); padding: 1em; margin: 0.3em; width: 7em; }
.ctf-info { width: 100%; height: auto; padding: 20px; margin: 10px; }
.tab-layout { width: 100%; height: auto; margin-top: 40px; margin-bottom: 40px; display: block; }
.tab { float: left; width: 20%; height: auto; padding: 10px; display: flex; flex-direction: column; align-items: center; overflow-x: hidden; overflow-y: scroll; scrollbar-width: none; }
.tab::-webkit-scrollbar { display: none; }
.tablinks { width: 100%; max-width: 150px; height: 10px; padding: 20px; margin: 10px; display: flex; justify-content: center; align-items: center; font-size: 0.8em; font-family: 'Tenika'; }
.tabcontent { height: auto; width: 75%; float: right; padding: 10px; display: flex; flex-direction: row; flex-wrap: wrap; }
.active { --aug-inlay-bg: rgba(255, 0, 0, 0.1); box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.5) inset; }
.ch-card { display: flex; justify-content: center; align-items: center; flex-direction: column; height: auto; width: calc(50% - 60px); margin: 10px; padding: 20px; }
.ch-title { text-align: center; font-size: 1.2em; font-weight: bold; margin: 10px; width: 100%; }
.ch-meta { font-size: 0.9em; height: 1.5em; margin-top: 10px; overflow-y: scroll; scrollbar-width: none; }
.ch-meta::-webkit-scrollbar { display: none; }
.ch-pts { font-size: 0.9em; margin-bottom: 10px; }
.ch-btn-wrapper { display: flex; flex-direction: row; justify-content: center; width: 10%; }
.ch-btn { cursor: pointer; padding: 15px; }
.ch-sub-card { display: flex; align-items: center; width: 100%; }
.ch-desc { font-size: 0.8em; box-shadow: 0 0 15px black inset; margin: 0 5px 10px 5px; padding: 10px; overflow-y: scroll; overflow-x: hidden; scrollbar-width: none; border-radius: 5px; line-height: 1.5em; height: 4em; width: 100%; word-wrap: break-word; }
.ch-desc::-webkit-scrollbar { display: none; }
.ch-meta-wrapper { width: 90%; }
.ch-down { width: 1.2em; height: 1.2em; }

.panel-theme { outline: 1px solid transparent; padding: 10px; border: 1.5px solid #ff9800; box-shadow: 0px 0px 25px rgba(0, 255, 255, 0.2) inset; }
.hide-panel { width: 1px; height: 1px; overflow: hidden; clip-path: inset(50%); opacity: 0; transition: all 0.5s ease-in-out; position: absolute; flex-basis: 0; display: flex; }
.show-panel { position: fixed; top: 50%; left: 50%; z-index: 9; transform: translate3d(-50%, -50%, 0); width: 80%; height: auto; transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out; flex-basis: 0; display: flex; flex-direction: column; align-items: center; background-color: rgba(0, 0, 0, 0.9); }
.close-btn { position: fixed; margin-right: 10px; background-color: #000000; border: 2px solid #ff9800; box-shadow: 0 0 10px #ff9800; border-radius: 50%; padding: 20px; width: 0.5em; height: 0.5em; right: 0; cursor: pointer; display: flex; justify-content: center; align-items: center; }
@media only screen and (min-width: 1024px) { .panel-btn { display: none; } }
@media only screen and (max-width: 1024px) {
	.tab { display: none; }
	.tab-layout { width: 100%; height: auto; display: flex; flex-direction: column; align-items: center; }
	.panel-btn { width: 85%; height: auto; padding: 20px; cursor: pointer; text-align: center; font-weight: bold; font-size: 1.2em; font-family: 'Tenika'; }
	.tablinks { width: 100%; height: 10px; margin: 5px; }
	.tabcontent { width: 100%; height: auto; flex-basis: 0; float: none; padding: 0; margin-top: 10px; }
	.ch-card { width: 100%; }
}

.ctf-team-wrapper { margin-top: 40px; margin-bottom: 40px; padding: 20px; height: auto; width: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.ctf-team-card { width: 500px; height: 150px; margin: 20px 10px 20px 10px; }

.ascii-banner { font-family: 'JetBrainsMono'; font-size: 0.8em; }
.score-container { width: 100%; height: 100%; margin-top: 40px; margin-bottom: 40px; background-color: rgba(0, 0, 0, 0.7); }
table { width: 100%; height: 100%; table-layout: fixed; }
th { font-weight: bold; font-size: 1em; }
th, td { padding: 10px; overflow: hidden; white-space: nowrap; }
td:nth-child(1) { text-align: center; }
td:nth-child(3) { text-align: center; }
td:nth-child(4) { text-align: center; }

.breadcrumbs { margin: 10px; }


.reso-container { margin-top: 40px; margin-bottom: 40px; padding: 15px; width: 100%; height: 100%; box-shadow: 0 0 20px cyan; background-color: rgba(0, 0, 0, 0.7); display: flex; flex-direction: column; align-items: center; }
.script { width: 100%; text-align: left; }
.search-bar { width: 100%; display: flex; justify-content: center; align-items: center; }
.cat-bar { width: 100%; }
.cat-btn { cursor: pointer; }
#search-input { background-color: transparent; outline: none; border: 0; width: 100%; height: auto; padding: 10px; font-size: 0.9em; font-family: 'JetBrainsMono'; }
.resu-wrapper { width: 100%; height: 150%; }
#resu-container { width: 100%; height: 780px; overflow: scroll; padding: 0%; scrollbar-width: none; }
.res-title { }
.res-desc { font-size: 0.8em; list-style-type: none; }
.res-url { font-size: 0.8em; list-style-type: none; }
.res-gap { margin-bottom: 15px; }
.flag-wrap { width: 100%; text-align: center; }
#flag { cursor: default; }
